.logo-container{
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    background: #E15456;
    /* background-image: url('../homepage/flash.png'); */
}
.logo{
    margin-top: 40pc;
    position: relative;
    bottom: 21pc;
    width: 379px;
    height: 119px;
}